# Base de donnees PostgreSQL (Neon.tech)
DATABASE_URL=

# Cloudinary (fichiers <= 10 Mo)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# JWT
JWT_SECRET=

# Backblaze B2 (fichiers > 10 Mo, production)
B2_ENDPOINT=https://s3.us-west-002.backblazeb2.com
B2_REGION=us-west-002
B2_ACCESS_KEY_ID=
B2_SECRET_ACCESS_KEY=
B2_BUCKET=mon-archive

# Frontend URL (CORS)
FRONTEND_URL=https://mon-archive.vercel.app
